<h2 fxLayoutAlign="center" class="mat-title">{{ nome }}</h2>
<mat-card>
    <form [formGroup]="form" fxLayoutAlign="center" novalidate>
        <mat-card-content>
            <div
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutWrap
            fxLayoutGap="3.5%"
            fxLayoutAlign="left"
            >
                <mat-form-field class="example-full-width">
                    <mat-label>Descrição</mat-label>
                    <textarea matInput rows="6" formControlName="descricao" readonly></textarea>
                </mat-form-field>
            </div>
            <div
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutWrap
            fxLayoutGap="3.5%"
            fxLayoutAlign="left"
            >
                <mat-form-field class="example-full-width">
                    <input matInput
                        placeholder="CRN" formControlName="crn" readonly>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput
                        placeholder="Telefone" formControlName="telefone" readonly>
                </mat-form-field>
            </div>
            <div
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutWrap
            fxLayoutGap="3.5%"
            fxLayoutAlign="left"
            >
                <mat-form-field class="example-full-width">
                    <input matInput
                        placeholder="E-mail" formControlName="email" readonly>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput
                        placeholder="Mídia Social" formControlName="midiaSocial" readonly>
                </mat-form-field>
            </div>
            <div
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutWrap
            fxLayoutGap="3.5%"
            fxLayoutAlign="left"
            >
                <mat-form-field class="example-full-width">
                    <input matInput
                        placeholder="Endereço" formControlName="endereco" readonly>
                </mat-form-field>
            </div>
            <div
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutWrap
            fxLayoutGap="3.5%"
            fxLayoutAlign="left"
            >
                <mat-form-field class="example-full-width">
                    <input matInput
                        placeholder="CEP" formControlName="cep" readonly>
                </mat-form-field>
            </div>
            <mat-list-item fxLayoutAlign="center">
                <a mat-raised-button routerLink="/paciente/profissional">Voltar</a>
            </mat-list-item>
        </mat-card-content>
    </form>
</mat-card>