<h2 fxLayoutAlign="center" class="mat-title">Detalhes Receita</h2>
    <form [formGroup]="form" fxLayoutAlign="center" novalidate>
        <mat-list>
                <mat-form-field>
                    <input matInput
                        placeholder="Título" formControlName="titulo" readonly>
                </mat-form-field>
                &nbsp;
                <mat-form-field>
                    <input matInput
                        placeholder="Categoria" formControlName="categoria" readonly>
                </mat-form-field>
                &nbsp;
                <p>
                <mat-form-field style="width: 100%;">
                    <mat-label>Descrição</mat-label>
                    <textarea matInput rows="8" formControlName="descricao" readonly></textarea>
                </mat-form-field>
                </p>
            <mat-list-item fxLayoutAlign="center">
                <a mat-raised-button routerLink="/paciente/receita">Voltar</a>
            </mat-list-item>
        </mat-list> 
      </form>