<p></p>
<mat-grid-list [cols]="breakpoint" rowHeight="2:1.2" (window:resize)="onResize($event)">
    <mat-grid-tile style="background: lightblue;">Meu Profissional</mat-grid-tile>
    <mat-grid-tile style="background: lightgreen;">Minha próxima consulta/agendar</mat-grid-tile>
    <mat-grid-tile style="background: lightpink;">Meu Plano Alimentar</mat-grid-tile>
    <mat-grid-tile style="background: lightgray;">Minhas Receitas</mat-grid-tile>
    <mat-grid-tile style="background: lightsteelblue;">Minhas avaliações</mat-grid-tile>
    <mat-grid-tile style="background: lightgrey;">Lista de Compras</mat-grid-tile>
  </mat-grid-list>
  