<h2 fxLayoutAlign="center" class="mat-title">Cadastro de Categorias de Diâmetros Osseos - Avaliação Antropométrica</h2>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>add</mat-icon>
        Adicionar nova Categoria de Diâmetro Osseo
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form [formGroup]="form" fxLayoutAlign="center" novalidate>
        <mat-list>
          <mat-list-item>
            <mat-form-field>
                <input matInput
                    placeholder="Descrição" formControlName="descricao">
            </mat-form-field>
          </mat-list-item>
          <mat-list-item fxLayoutAlign="center">
            <button mat-raised-button color="light"
                [disabled]="form.invalid" 
                (click)="cadastrar()">
                Adicionar
            </button>
          </mat-list-item>
        </mat-list> 
      </form>
  </mat-expansion-panel>

<mat-table [dataSource]="dataSource" matSort>
	<mat-header-row 
		*matHeaderRowDef="colunas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: colunas;"></mat-row>

    <ng-container matColumnDef="descricao">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Descrição
      </mat-header-cell>
      <mat-cell *matCellDef="let categoria">
        {{ categoria.descricao }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="acao">
        <mat-header-cell *matHeaderCellDef>Ação</mat-header-cell>
        <mat-cell *matCellDef="let categoria">
            <a routerLink="{{ '/admin/editar-categoria-avaliacao-diametro-osseo/' + categoria.id }}">
                <mat-icon matTooltip="Editar">edit</mat-icon>
            </a>
            &nbsp;
            <a (click)="removerDialog(categoria.id)"
                style="cursor: pointer"><mat-icon matTooltip="Excluir">clear</mat-icon></a>
        </mat-cell>
    </ng-container>
</mat-table>

<mat-paginator 
  #paginator
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 15, 25]">
</mat-paginator>

<button mat-raised-button color="light" (click)="exportAsXLSX()" style="cursor: pointer">
  <mat-icon matTooltip="Exportar">file_download</mat-icon>
  <span>Exportar dados</span>
</button>